<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TriviaBlasters.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C4150C62D6561B90073DE27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C4150D62D6561BB0073DE27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C4150E02D6561BB0073DE27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
